head_node_type:
  name: head-node
  instance_type: m5.xlarge
  resources:
    cpu: 0
worker_node_types:
  - name: worker-g5-4xlarge-nvidia-a10-1
    instance_type: g5.4xlarge
    resources:
      custom_resources:
        "accelerator_type:A10G": 1
        custom_llm_gpu: 1
    min_workers: 0
    max_workers: 50
    use_spot: true
    fallback_to_ondemand: true
  - name: worker-g5-8xlarge-nvidia-a10-1
    instance_type: g5.8xlarge
    resources:
      custom_resources:
        "accelerator_type:A10G": 1
        custom_llm_gpu: 1
    min_workers: 0
    max_workers: 50
    use_spot: true
    fallback_to_ondemand: true
  - name: worker-g5-12xlarge-nvidia-a10-4
    instance_type: g5.12xlarge
    resources:
      custom_resources:
        "accelerator_type:A10G": 1
        custom_llm_gpu: 4
    min_workers: 0
    max_workers: 5
    use_spot: true
    fallback_to_ondemand: true
  - name: worker-g5-16xlarge-nvidia-a10-1
    instance_type: g5.16xlarge
    resources:
      custom_resources:
        "accelerator_type:A10G": 1
        custom_llm_gpu: 1
    min_workers: 0
    max_workers: 10
    use_spot: true
    fallback_to_ondemand: true
  - name: worker-g5-24xlarge-nvidia-a10-4
    instance_type: g5.24xlarge
    resources:
      custom_resources:
        "accelerator_type:A10G": 1
        custom_llm_gpu: 4
    min_workers: 0
    max_workers: 2
    use_spot: true
    fallback_to_ondemand: true
  - name: worker-g5-48xlarge-nvidia-a10-8
    instance_type: g5.48xlarge
    resources:
      custom_resources:
        "accelerator_type:A10G": 1
        custom_llm_gpu: 8
    min_workers: 0
    max_workers: 1
    use_spot: true
    fallback_to_ondemand: true
aws:
  TagSpecifications:
    - ResourceType: instance
      Tags:
        - Key: as-feature-cross-group-min-count-custom_llm_gpu
          Value: "10"
        - Key: as-feature-cross-group-max-count-custom_llm_gpu
          Value: "50"
