name: premerge

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
      with:
        python-version: '3.9'

    # Install pre-commit dependencies
    - name: Install pre-commit
      run: pip install pre-commit==3.8.0 jupyter==1.1.1

    # Run pre-commit hooks with verbose logging
    - name: Run pre-commit
      run: pre-commit run --all-files --verbose

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
      with:
        python-version: '3.9'
    - uses: actions/setup-go@v5
      with:
        go-version: 1.25

    - name: Install pre-commit
      run: pip install jupyter==1.1.1

    - name: Build
      run: bash -ec "(cd ci; go install ./...)"

    - name: Check go format
      run: bash -ec "(cd ci; go fmt ./... ; git diff --exit-code)"

    - name: Test
      run: CI=1 bash -ec "(cd ci; go test -v ./...)"

    - name: Build templates
      run: |
        bash ./download_rayapp.sh
        ./rayapp build --build BUILD.yaml --output _build
